In [26]:
#install.packages("readxl")
#install.packages("dplyr")
#install.packages("stringr")

library(readxl)
library(dplyr)
library(stringr)

In [37]:
options(warn=-1)
dataset_sin_limpiar <- read_excel("./LAPAZ3.xlsx")

In [38]:
str(dataset_sin_limpiar)

Classes 'tbl_df', 'tbl' and 'data.frame':	485086 obs. of  25 variables:
 $ CUE               : num  6e+06 6e+06 6e+06 6e+06 6e+06 ...
 $ departamento      : chr  "LA PAZ" "LA PAZ" "LA PAZ" "LA PAZ" ...
 $ localidad         : chr  "LA PAZ" "LA PAZ" "LA PAZ" "LA PAZ" ...
 $ EsPrivada         : chr  "N" "N" "N" "N" ...
 $ turno             : chr  "TARDE" "TARDE" "TARDE" "TARDE" ...
 $ curso             : chr  "3 - U Prim" "1 - U Prim" "1 - U Prim" "1 - U Prim" ...
 $ periodoEvaluatorio: chr  "Tercer Trimestre" "Segundo Trimestre" "Segundo Trimestre" "Segundo Trimestre" ...
 $ idalumno          : num  726939 875616 875604 875614 875612 ...
 $ Documento         : num  53360157 55445296 55243932 54712732 55445366 ...
 $ anioLectivo       : num  2022 2022 2022 2022 2022 ...
 $ asignatura        : chr  "LENGUA" "ARTES VISUALES" "ARTES VISUALES" "ARTES VISUALES" ...
 $ nota              : chr  "6" "9" "9" "7" ...
 $ observaciones     : chr  NA NA NA NA ...
 $ idSubOrganizacion : num  41 41 41 41 41 41 41 41 41 41 ...
 $ idDivision        : num  69038 69036 69036 69036 69036 ...
 $ NivelEnsenanza    : chr  "PRIMARIO" "PRIMARIO" "PRIMARIO" "PRIMARIO" ...
 $ orden             : num  3 2 2 2 2 2 2 2 3 1 ...
 $ motivo_ausente    : logi  NA NA NA NA NA NA ...
 $ idOrganizaciones  : num  20 20 20 20 20 20 20 20 20 20 ...
 $ ddivision         : chr  "B" "A" "A" "U" ...
 $ Nivel             : num  2 2 2 2 2 2 2 2 2 2 ...
 $ esMultianio       : chr  "N" "N" "N" "N" ...
 $ IdModEnsenanza    : num  5 5 5 5 5 5 5 5 5 5 ...
 $ Modalidad         : chr  "Primaria" "Primaria" "Primaria" "Primaria" ...
 $ ModEnsenaza       : chr  "Comun" "Comun" "Comun" "Comun" ...

In [39]:
ftable(dataset_sin_limpiar$ModEnsenaza, dataset_sin_limpiar$Modalidad)

                       Inicial   NULL Primaria Secundaria Secundaria 3 años

Adultos                      0      0        0      10685             14267
Agrotécnica                  0      0        0      11553                 0
Comun                       34     30   174067     218517              4752
Ed.Especial                  0      0       35          0                 0
Escuelas NINA                0      0     6155          0                 0
Formacion Profesional        0     30        0          0                 0
NULL                         0    708        0          0                 0
Técnica                      0      0        0      44253                 0

## Antes de comenzar a trabajar, hacemos una copia de nuestro dataset

In [52]:
dataset <- dataset_sin_limpiar

## Remplazamos los valores de EsPrivada a "T" y "F", verdadero y falso respectivamente, para poder transformarlos a variables lógicas.

In [53]:
ftable(dataset$EsPrivada)

      N      S

 427312  57774

In [54]:
dataset$EsPrivada <- str_replace_all(dataset$EsPrivada, "S", "T")
dataset$EsPrivada <- str_replace_all(dataset$EsPrivada, "N", "F")
ftable(dataset$EsPrivada)

      F      T

 427312  57774

## Renombramos las columnas necesarias

In [55]:
dataset_rename <- rename(dataset, año = anioLectivo, NivelEnseñanza = NivelEnsenanza, ModEnseñanza = ModEnsenaza)

In [56]:
str(dataset_rename)

Classes 'tbl_df', 'tbl' and 'data.frame':	485086 obs. of  25 variables:
 $ CUE               : num  6e+06 6e+06 6e+06 6e+06 6e+06 ...
 $ departamento      : chr  "LA PAZ" "LA PAZ" "LA PAZ" "LA PAZ" ...
 $ localidad         : chr  "LA PAZ" "LA PAZ" "LA PAZ" "LA PAZ" ...
 $ EsPrivada         : chr  "F" "F" "F" "F" ...
 $ turno             : chr  "TARDE" "TARDE" "TARDE" "TARDE" ...
 $ curso             : chr  "3 - U Prim" "1 - U Prim" "1 - U Prim" "1 - U Prim" ...
 $ periodoEvaluatorio: chr  "Tercer Trimestre" "Segundo Trimestre" "Segundo Trimestre" "Segundo Trimestre" ...
 $ idalumno          : num  726939 875616 875604 875614 875612 ...
 $ Documento         : num  53360157 55445296 55243932 54712732 55445366 ...
 $ año               : num  2022 2022 2022 2022 2022 ...
 $ asignatura        : chr  "LENGUA" "ARTES VISUALES" "ARTES VISUALES" "ARTES VISUALES" ...
 $ nota              : chr  "6" "9" "9" "7" ...
 $ observaciones     : chr  NA NA NA NA ...
 $ idSubOrganizacion : num  41 41 41 41 41 41 41 41 41 41 ...
 $ idDivision        : num  69038 69036 69036 69036 69036 ...
 $ NivelEnseñanza    : chr  "PRIMARIO" "PRIMARIO" "PRIMARIO" "PRIMARIO" ...
 $ orden             : num  3 2 2 2 2 2 2 2 3 1 ...
 $ motivo_ausente    : logi  NA NA NA NA NA NA ...
 $ idOrganizaciones  : num  20 20 20 20 20 20 20 20 20 20 ...
 $ ddivision         : chr  "B" "A" "A" "U" ...
 $ Nivel             : num  2 2 2 2 2 2 2 2 2 2 ...
 $ esMultianio       : chr  "N" "N" "N" "N" ...
 $ IdModEnsenanza    : num  5 5 5 5 5 5 5 5 5 5 ...
 $ Modalidad         : chr  "Primaria" "Primaria" "Primaria" "Primaria" ...
 $ ModEnseñanza      : chr  "Comun" "Comun" "Comun" "Comun" ...

## Agregamos una columna de año de cursado que tomará solo el año del curso. En este caso es el primer elemento del string de "curso", luego transformamos a numeric.

In [58]:
dataset_rename_curso <- mutate(dataset_rename, AñoCursado= as.numeric(str_sub(dataset_rename$curso, 1, 1)))
str(dataset_rename_curso)

Classes 'tbl_df', 'tbl' and 'data.frame':	485086 obs. of  26 variables:
 $ CUE               : num  6e+06 6e+06 6e+06 6e+06 6e+06 ...
 $ departamento      : chr  "LA PAZ" "LA PAZ" "LA PAZ" "LA PAZ" ...
 $ localidad         : chr  "LA PAZ" "LA PAZ" "LA PAZ" "LA PAZ" ...
 $ EsPrivada         : chr  "F" "F" "F" "F" ...
 $ turno             : chr  "TARDE" "TARDE" "TARDE" "TARDE" ...
 $ curso             : chr  "3 - U Prim" "1 - U Prim" "1 - U Prim" "1 - U Prim" ...
 $ periodoEvaluatorio: chr  "Tercer Trimestre" "Segundo Trimestre" "Segundo Trimestre" "Segundo Trimestre" ...
 $ idalumno          : num  726939 875616 875604 875614 875612 ...
 $ Documento         : num  53360157 55445296 55243932 54712732 55445366 ...
 $ año               : num  2022 2022 2022 2022 2022 ...
 $ asignatura        : chr  "LENGUA" "ARTES VISUALES" "ARTES VISUALES" "ARTES VISUALES" ...
 $ nota              : chr  "6" "9" "9" "7" ...
 $ observaciones     : chr  NA NA NA NA ...
 $ idSubOrganizacion : num  41 41 41 41 41 41 41 41 41 41 ...
 $ idDivision        : num  69038 69036 69036 69036 69036 ...
 $ NivelEnseñanza    : chr  "PRIMARIO" "PRIMARIO" "PRIMARIO" "PRIMARIO" ...
 $ orden             : num  3 2 2 2 2 2 2 2 3 1 ...
 $ motivo_ausente    : logi  NA NA NA NA NA NA ...
 $ idOrganizaciones  : num  20 20 20 20 20 20 20 20 20 20 ...
 $ ddivision         : chr  "B" "A" "A" "U" ...
 $ Nivel             : num  2 2 2 2 2 2 2 2 2 2 ...
 $ esMultianio       : chr  "N" "N" "N" "N" ...
 $ IdModEnsenanza    : num  5 5 5 5 5 5 5 5 5 5 ...
 $ Modalidad         : chr  "Primaria" "Primaria" "Primaria" "Primaria" ...
 $ ModEnseñanza      : chr  "Comun" "Comun" "Comun" "Comun" ...
 $ AñoCursado        : num  3 1 1 1 1 1 1 1 3 4 ...

## Modificamos el tipo de dato de las columnas que nos interesan

In [60]:
dataset_rename_curso$turno <- as.factor(dataset_rename_curso$turno)
dataset_rename_curso$Modalidad <- as.factor(dataset_rename_curso$Modalidad)
dataset_rename_curso$nota <- as.numeric(dataset_rename_curso$nota)
dataset_rename_curso$EsPrivada <- as.logical(dataset_rename_curso$EsPrivada)
dataset_rename_curso$ModEnseñanza <- as.factor(dataset_rename_curso$ModEnseñanza)

In [61]:
str(dataset_rename_curso)

Classes 'tbl_df', 'tbl' and 'data.frame':	485086 obs. of  26 variables:
 $ CUE               : num  6e+06 6e+06 6e+06 6e+06 6e+06 ...
 $ departamento      : chr  "LA PAZ" "LA PAZ" "LA PAZ" "LA PAZ" ...
 $ localidad         : chr  "LA PAZ" "LA PAZ" "LA PAZ" "LA PAZ" ...
 $ EsPrivada         : logi  FALSE FALSE FALSE FALSE FALSE FALSE ...
 $ turno             : Factor w/ 8 levels "COMPLETO","DIURNO",..: 7 7 7 7 7 7 7 7 7 4 ...
 $ curso             : chr  "3 - U Prim" "1 - U Prim" "1 - U Prim" "1 - U Prim" ...
 $ periodoEvaluatorio: chr  "Tercer Trimestre" "Segundo Trimestre" "Segundo Trimestre" "Segundo Trimestre" ...
 $ idalumno          : num  726939 875616 875604 875614 875612 ...
 $ Documento         : num  53360157 55445296 55243932 54712732 55445366 ...
 $ año               : num  2022 2022 2022 2022 2022 ...
 $ asignatura        : chr  "LENGUA" "ARTES VISUALES" "ARTES VISUALES" "ARTES VISUALES" ...
 $ nota              : num  6 9 9 7 9 8 9 9 7 6 ...
 $ observaciones     : chr  NA NA NA NA ...
 $ idSubOrganizacion : num  41 41 41 41 41 41 41 41 41 41 ...
 $ idDivision        : num  69038 69036 69036 69036 69036 ...
 $ NivelEnseñanza    : chr  "PRIMARIO" "PRIMARIO" "PRIMARIO" "PRIMARIO" ...
 $ orden             : num  3 2 2 2 2 2 2 2 3 1 ...
 $ motivo_ausente    : logi  NA NA NA NA NA NA ...
 $ idOrganizaciones  : num  20 20 20 20 20 20 20 20 20 20 ...
 $ ddivision         : chr  "B" "A" "A" "U" ...
 $ Nivel             : num  2 2 2 2 2 2 2 2 2 2 ...
 $ esMultianio       : chr  "N" "N" "N" "N" ...
 $ IdModEnsenanza    : num  5 5 5 5 5 5 5 5 5 5 ...
 $ Modalidad         : Factor w/ 5 levels "Inicial","NULL",..: 3 3 3 3 3 3 3 3 3 3 ...
 $ ModEnseñanza      : Factor w/ 8 levels "Adultos","Agrotécnica",..: 3 3 3 3 3 3 3 3 3 3 ...
 $ AñoCursado        : num  3 1 1 1 1 1 1 1 3 4 ...

In [66]:
dataset_nuevo <- select(dataset_rename_curso, CUE, EsPrivada, turno, periodoEvaluatorio, Documento, año, asignatura, nota, NivelEnseñanza, Nivel, Modalidad, ModEnseñanza, AñoCursado)
str(dataset_nuevo)

Classes 'tbl_df', 'tbl' and 'data.frame':	485086 obs. of  13 variables:
 $ CUE               : num  6e+06 6e+06 6e+06 6e+06 6e+06 ...
 $ EsPrivada         : logi  FALSE FALSE FALSE FALSE FALSE FALSE ...
 $ turno             : Factor w/ 8 levels "COMPLETO","DIURNO",..: 7 7 7 7 7 7 7 7 7 4 ...
 $ periodoEvaluatorio: chr  "Tercer Trimestre" "Segundo Trimestre" "Segundo Trimestre" "Segundo Trimestre" ...
 $ Documento         : num  53360157 55445296 55243932 54712732 55445366 ...
 $ año               : num  2022 2022 2022 2022 2022 ...
 $ asignatura        : chr  "LENGUA" "ARTES VISUALES" "ARTES VISUALES" "ARTES VISUALES" ...
 $ nota              : num  6 9 9 7 9 8 9 9 7 6 ...
 $ NivelEnseñanza    : chr  "PRIMARIO" "PRIMARIO" "PRIMARIO" "PRIMARIO" ...
 $ Nivel             : num  2 2 2 2 2 2 2 2 2 2 ...
 $ Modalidad         : Factor w/ 5 levels "Inicial","NULL",..: 3 3 3 3 3 3 3 3 3 3 ...
 $ ModEnseñanza      : Factor w/ 8 levels "Adultos","Agrotécnica",..: 3 3 3 3 3 3 3 3 3 3 ...
 $ AñoCursado        : num  3 1 1 1 1 1 1 1 3 4 ...

## Ahora calculamos el promedio de cada estudiante usando las notas del primer, segundo y tercer trimestre

In [67]:
PrimerT <- filter(dataset_nuevo, periodoEvaluatorio=="Primer Trimestre")
PrimerT <- rename(PrimerT, NotasPrimerT=nota)

SegundoT <- filter(dataset_nuevo, periodoEvaluatorio=="Segundo Trimestre")
SegundoT <- rename(SegundoT, NotasSegundoT=nota)

TercerT <- filter(dataset_nuevo, periodoEvaluatorio=="Tercer Trimestre")
TercerT <- rename(TercerT, NotasTercerT=nota)

In [70]:
dataset_merge_trimestres <- merge(x = PrimerT, y = SegundoT, by = c("Documento", "asignatura"))
dataset_merge_trimestres <- merge(x = dataset_merge_trimestres, y = TercerT, by = c("Documento", "asignatura"))
dataset_notas <- select(dataset_merge_trimestres, CUE, EsPrivada, turno, periodoEvaluatorio, Documento, año, asignatura, NivelEnseñanza, Nivel, Modalidad, ModEnseñanza, AñoCursado, NotasPrimerT, NotasSegundoT, NotasTercerT)

In [71]:
dataset_notas_promedio <- mutate(dataset_notas, Promedio = (NotasPrimerT+NotasSegundoT+NotasTercerT)/3)

## A partir del promedio, sabremos la condición final para la materia

In [72]:
dataset_condicion_final <- mutate(dataset_notas_promedio, CondicionFinal = case_when(Promedio < 6 ~ "DESAPROBADO", Promedio >= 6 ~ "APROBADO"))

In [74]:
ftable(dataset_condicion_final$CondicionFinal)

 APROBADO DESAPROBADO

   175603       27518

In [77]:
ftable(dataset_condicion_final$Modalidad, dataset_condicion_final$ModEnseñanza)

                   Adultos Agrotécnica  Comun Ed.Especial Escuelas NINA Formacion Profesional   NULL Técnica

Inicial                  0           0      8           0             0                     0      0       0
NULL                     0           0      0           0             0                     0     86       0
Primaria                 0           0  45280           0          1725                     0      0       0
Secundaria            4117        3842 138377           0             0                     0      0   12721
Secundaria 3 años     4191           0   1433           0             0                     0      0       0

## Separamos el dataset en primaria y secundaria

In [83]:
dataset_primaria <- filter(dataset_condicion_final, ModEnseñanza == "Comun" & Modalidad == "Primaria")
dataset_secundaria <- filter(dataset_condicion_final, (ModEnseñanza == "Comun" | ModEnseñanza == "Técnica" | ModEnseñanza == "Agrotécnica") & Modalidad == "Secundaria")
ftable(dataset_secundaria$Modalidad, dataset_secundaria$ModEnseñanza)

                   Adultos Agrotécnica  Comun Ed.Especial Escuelas NINA Formacion Profesional   NULL Técnica

Inicial                  0           0      0           0             0                     0      0       0
NULL                     0           0      0           0             0                     0      0       0
Primaria                 0           0      0           0             0                     0      0       0
Secundaria               0        3842 138377           0             0                     0      0   12721
Secundaria 3 años        0           0      0           0             0                     0      0       0

## Tomamos solamente el año 2022 para cada dataset

In [90]:
dataset_primaria_2022 <- filter(dataset_primaria, año == 2022)
dataset_secundaria_2022 <- filter(dataset_secundaria, año == 2022)

In [91]:
ftable(dataset_primaria_2022$asignatura)

 Acompañamiento al Estudio ACOMPAÑAMIENTO AL ESTUDIO ARTES VISUALES Catequesis CIENCIAS NATURALES CIENCIAS SOCIALES Educación Agropecuaria EDUCACION FISICA EDUCACIÓN FÍSICA EDUCACION MUSICAL EDUCACIÓN MUSICAL EDUCACION TECNOLOGICA EDUCACIÓN TECNOLÓGICA EDUCACUÓN FÍSICA IDIOMA EXTRANJERO IDIOMA EXTRANJERO INGLES ingles INGLES Inglés LENGUA MATEMATICA Música Creatividad y comunicación Talle Tic Taller Acompañamiento al estudio Taller Acompañamiento al Estudio Taller Arte Taller Artes visuales Taller Danzarte Taller de Aceleración Taller de Acompañamiento al Estudio Taller de Artes Visuales TALLER DE ARTES VISUALES TALLER DE DEPORTE TALLER DE HUERTA Taller de Idioma Extranjero-Inglés Taller de idioma Inglés Taller de Ingles Taller de inglés Taller de Inglés TALLER DE INGLÉS Taller de JC Taller de Percusión Taller de Teatro Taller de TIC TALLER DE TIC Taller Deporte Taller Idioma Ingles Taller Inglés Taller Jugando con las Emociones Taller Lengua Extranjera Inglés Taller Marroquineria Taller Percusión

                        13                       227           5111        392               5154              5200                    101             5095               18              5051                31                  5011                    31               13               600                      158     38     96     17   5232       5212                                15        71                               56                               29          71                    54              71                     3                                  53                       28                      129                58               73                                 33                      84               43               17               16               32          101                  25               83            81           127             60                   71            66                               82                             109                   56               45

## Acondicionamos los nombres de las asignaturas de primaria para que queden homogeneas

In [105]:
# Pasamos todo a mayúsculas
dataset_primaria_2022_asignatura <- mutate(dataset_primaria_2022, asignatura = str_to_upper(dataset_primaria_2022$asignatura, locale="es"))

# Matemática
dataset_primaria_2022_asignatura <- mutate(dataset_primaria_2022_asignatura, asignatura = str_replace_all(dataset_primaria_2022_asignatura$asignatura, ".*MATEM[ÁA]TICAS?", "MATEMÁTICA"))
# Inglés
dataset_primaria_2022_asignatura <- mutate(dataset_primaria_2022_asignatura, asignatura = str_replace_all(dataset_primaria_2022_asignatura$asignatura, ".*INGL[ÉE]S", "INGLÉS"))
# Educación física
dataset_primaria_2022_asignatura <- mutate(dataset_primaria_2022_asignatura, asignatura = str_replace_all(dataset_primaria_2022_asignatura$asignatura, ".+F[IÍ]SICA", "EDUCACIÓN FÍSICA"))
ftable(dataset_primaria_2022_asignatura$asignatura)

 ACOMPAÑAMIENTO AL ESTUDIO ARTES VISUALES CATEQUESIS CIENCIAS NATURALES CIENCIAS SOCIALES EDUCACIÓN AGROPECUARIA EDUCACIÓN FÍSICA EDUCACION MUSICAL EDUCACIÓN MUSICAL EDUCACION TECNOLOGICA EDUCACIÓN TECNOLÓGICA IDIOMA EXTRANJERO INGLÉS LENGUA MATEMÁTICA MÚSICA CREATIVIDAD Y COMUNICACIÓN TALLE TIC TALLER ACOMPAÑAMIENTO AL ESTUDIO TALLER ARTE TALLER ARTES VISUALES TALLER DANZARTE TALLER DE ACELERACIÓN TALLER DE ACOMPAÑAMIENTO AL ESTUDIO TALLER DE ARTES VISUALES TALLER DE DEPORTE TALLER DE HUERTA TALLER DE JC TALLER DE PERCUSIÓN TALLER DE TEATRO TALLER DE TIC TALLER DEPORTE TALLER JUGANDO CON LAS EMOCIONES TALLER MARROQUINERIA TALLER PERCUSIÓN

                       240           5111        392               5154              5200                    101             5126              5051                31                  5011                    31               600    780   5232       5212                                15        71                               85          71                    54              71                     3                                  53                      157                58               73          101                  25               83           208             60                               82                   56               45