In [1]:
#install.packages("sjmisc")
#install.packages("fdth", quiet=TRUE)

library(readxl)
library(sjmisc)
library(fdth)

Warning message:
"package 'sjmisc' was built under R version 3.6.3"
Attaching package: 'fdth'

The following objects are masked from 'package:stats':

    sd, var

In [2]:
options(warn=-1)

In [3]:
dataset <- read_excel("./lapaz_troncales_limpio.xlsx")
dim(dataset)

[1] 70641    17

In [4]:
str(dataset)

Classes 'tbl_df', 'tbl' and 'data.frame':	70641 obs. of  17 variables:
 $ CUE               : num  6e+06 6e+06 6e+06 6e+06 6e+06 ...
 $ EsPrivada         : logi  FALSE FALSE FALSE FALSE FALSE FALSE ...
 $ turno             : chr  "MAÑANA" "MAÑANA" "MAÑANA" "MAÑANA" ...
 $ periodoEvaluatorio: chr  "Tercer Trimestre" "Tercer Trimestre" "Tercer Trimestre" "Tercer Trimestre" ...
 $ Documento         : num  1.14e+08 1.14e+08 1.14e+08 1.14e+08 1.14e+08 ...
 $ año               : num  2022 2022 2022 2022 2022 ...
 $ asignatura        : chr  "CIENCIAS NATURALES" "CIENCIAS SOCIALES" "EDUCACIÓN FÍSICA" "LENGUA" ...
 $ NivelEnseñanza    : chr  "PRIMARIO" "PRIMARIO" "PRIMARIO" "PRIMARIO" ...
 $ Nivel             : num  2 2 2 2 2 2 2 2 2 2 ...
 $ Modalidad         : chr  "Primaria" "Primaria" "Primaria" "Primaria" ...
 $ ModEnseñanza      : chr  "Comun" "Comun" "Comun" "Comun" ...
 $ AñoCursado        : num  3 3 3 3 3 5 5 5 5 5 ...
 $ NotasPrimerT      : num  8 8 9 9 10 8 8 7 8 8 ...
 $ NotasSegundoT     : num  10 10 9 8 9 8 8 6 9 9 ...
 $ NotasTercerT      : num  10 10 9 10 9 8 9 6 9 9 ...
 $ Promedio          : num  9.33 9.33 9 9 9.33 ...
 $ CondicionFinal    : chr  "APROBADO" "APROBADO" "APROBADO" "APROBADO" ...

In [6]:
ftable(dataset$Nivel)

     2     3

 26704 43937

In [7]:
ftable(dataset$NivelEnseñanza)

 EGB 3 PRIMARIO SECUNDARIO

  2653    26792      41196

## Eliminamos la columna de Nivel, ya que NivelEnseñanza nos brinda más información que la anterior y están relacionadas.
## También eliminamos la columna de año ya que todos nuestros datos son del 2022, sería redundante dejarla.